<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Playground</title>
    <style>
    .container {
        width: 800px;
        margin: 0 auto;
        border: 1px solid black;
    }
    
    .playbox {
        width: 100px;
        height: 100px;
        border: 2px solid black;
        padding: 10px;
        display: inline-block;
        margin-left: 5px;
        text-align: center;
    }

    h1 {
        text-align: center;
        margin-bottom: 50px;
    }

    </style>
</head>
<body>
    
    <div class="container">
        <h1>Welcome!</h1>
        {% for x in range(0,times) %}
            <div class="playbox" style="background-color: {{ color }}""></div>
        {% endfor %}
        
    </div>
</body>
</html>